.centerSection {
  display: flex;
  flex-direction: row;
}

.meetContainer {
  width: calc((100vw / 4 + 0.1vw));
  height: calc(100vh - 28vh);
  display: flex;
  flex-direction: row;
  align-content: center;
}

.meetText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white;
  height: 100%;
  width: 90%;
  margin-top: calc(((100vh - 28vh) / 4) / 4);
  font-family: "Chivo";
}

.rightSection {
  width: calc((300vw / 4 + 0.1vw));
  height: calc(100vh - 28vh);
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.map {
  align-self: center;
  width: 85%;
  padding-left: 7.5%;
  height: 75%;
  border: 0;
  align-self: center;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-left: 7.5%;
  align-items: center;
}

.contactHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contactHeaderWords {
  align-self: flex-end;
  text-align: end;
  font-size: 2.5vw;
  font-weight: lighter;
  font-family: "Chivo";
}

.leftArrowDiv {
  margin-top: -2.5vw;
}

.fadingLeftEffect {
  position: relative;
  width: 100%;
  height: 1.5vw;
  z-index: 4vw !important;
  margin-top: -1.5vw;
  background-color: white;
  opacity: 1;
  animation: show 2.5s ease;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.fadingRightEffect {
  position: relative;
  width: 100%;
  height: 1.5vw;
  z-index: 4vw !important;
  margin-top: -1.5vw;
  background-color: white;
  animation: showRight 2.5s ease;
  animation-fill-mode: forwards;
  /* animation-direction: reverse !important; */
}

@keyframes showRight {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}

.contactContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.5vw;
}

.office {
  width: 27%;
}

.call {
  width: 27%;
}

.nameCard {
  width: 27%;
}

.socials {
  width: 9%;
}

.contactLabel {
  font-size: 2vw;
  font-weight: lighter;
  font-family: "Chivo";
}

.contactText {
  font-size: 1vw;
  font-weight: lighter;
  font-family: "Chivo";
}

.enquiry {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-left: 7.5%;
  align-items: center;
}

.enquiryHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.enquiryHeaderWords {
  align-self: flex-start;
  text-align: start;
  font-size: 2.5vw;
  font-weight: lighter;
  font-family: "Chivo";
}

.rightArrow {
  width: 100%;
  height: 1.5vw;
  display: flex;
  margin-top: -2.3vw;
}
.rightArrow:before {
  content: "";
  border: none;
  border-top: 1.4vw dotted black;
  clip-path: polygon(
    0 10px,
    calc(100% - 15px) 10px,
    calc(100% - 15px) 0,
    100% 50%,
    calc(100% - 15px) 100%,
    calc(100% - 15px) calc(100% - 10px),
    0 calc(100% - 10px)
  );
  animation: rightArrowAnimate 2.5s forwards linear;
}
@keyframes rightArrowAnimate {
  90%,
  100% {
    flex-grow: 1;
  }
}

.inputSection {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
