.loadingScreenFade {
  animation: loadingFadeOut 0.6s ease;
  animation-fill-mode: forwards;
  animation-delay: 4.6s;
}

@keyframes loadingFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.homeFadeIn {
  animation: fadeInHomeScreen 0.6s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeInHomeScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homeSection {
  width: 100%;
  height: calc(100vh - 28vh);
  display: flex;
  flex-direction: row;
  align-content: center;
  overflow: hidden;
}

.yoursText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white;
  height: 100%;
  width: 90%;
  margin-top: calc((((100vh - 28vh) / 4) * 3) - 3vh);
  font-family: "Chivo";
}

.seekText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white;
  height: 100%;
  width: 90%;
  margin-top: calc(((100vh - 28vh) / 4) * 2);
  font-family: "Chivo";
}

.usText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white;
  height: 100%;
  width: 90%;
  margin-top: calc(((100vh - 28vh) / 4) + 2vh);
  font-family: "Chivo";
}

.meetText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white;
  height: 100%;
  width: 90%;
  margin-top: calc(((100vh - 28vh) / 4) / 5);
  font-family: "Chivo";
}

.yoursContainerHome {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  display: flex;
  flex-direction: row;
  align-content: center;
}

.seekContainerHome {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  display: flex;
  flex-direction: row;
  align-content: center;
}

.usContainerHome {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  display: flex;
  flex-direction: row;
  align-content: center;
}

.meetContainerHome {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  display: flex;
  flex-direction: row;
  align-content: center;
}
