.loadingScreenFade {
  animation: loadingFadeOut 0.6s ease;
  animation-fill-mode: forwards;
  animation-delay: 4.6s;
}

@keyframes loadingFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.homeFadeIn {
  animation: fadeInHomeScreen 0.6s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeInHomeScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homeSection {
  width: 100%;
  height: calc(100vh - 28vh);
  display: flex;
  flex-direction: row;
  align-content: center;
  overflow: hidden;
}

.yoursText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white;
  margin-top: calc((((100vh - 28vh) / 4) * 3) - 3vh);
  margin-left: 85%;
  font-family: "Chivo";
  position: absolute;
  z-index: 100vw !important;
}

.seekText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white;
  margin-top: calc(((100vh - 28vh) / 4) * 2);
  margin-left: 85%;
  font-family: "Chivo";
  position: absolute;
  z-index: 100vw !important;
}

.usText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white;
  margin-top: calc(((100vh - 28vh) / 4) + 2vh);
  margin-left: 10%;
  font-family: "Chivo";
  position: absolute;
  z-index: 100vw !important;
}

.meetText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white;
  margin-top: calc(((100vh - 28vh) / 4) / 5);
  margin-left: 10%;
  font-family: "Chivo";
  position: absolute;
  z-index: 100vw !important;
}

.yoursContainerHome {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  position: relative;
  overflow: hidden;
}

.yoursImageHome {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0vw !important;
  transition: transform 1s ease;
}

.yoursContainerHome:hover > .yoursImageHome {
  transform: scale(1.3);
}

.yoursImageHomeAfterClick {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0vw !important;
  animation: afterClick 1s ease;
}

.seekContainerHome {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  position: relative;
  overflow: hidden;
}

.seekImageHome {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0vw !important;
  transition: transform 1s ease;
}

.seekContainerHome:hover > .seekImageHome {
  transform: scale(1.3);
}

.seekImageHomeAfterClick {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0vw !important;
  animation: afterClick 1s ease;
}

.usContainerHome {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  position: relative;
  overflow: hidden;
}

.usImageHome {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0vw !important;
  transition: transform 1s ease;
}

.usContainerHome:hover > .usImageHome {
  transform: scale(1.3);
}

.usImageHomeAfterClick {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0vw !important;
  animation: afterClick 1s ease;
}

.meetContainerHome {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  position: relative;
  overflow: hidden;
}

.meetImageHome {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0vw !important;
  transition: transform 1s ease;
}

.meetContainerHome:hover > .meetImageHome {
  transform: scale(1.3);
}

.meetImageHomeAfterClick {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0vw !important;
  animation: afterClick 1s ease;
}

@keyframes afterClick {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale (1);
  }
}
