/** LOADING PAGE **/

.yoursContainerSeek {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  animation: loadingFade 1s ease;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: relative;
}

.seekContainerSeek {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  animation: transformation 2s ease;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: relative;
}

.usContainerSeek {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  animation: loadingFade 1s ease;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: relative;
}

.meetContainerSeek {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  animation: loadingFade 1s ease;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: relative;
}

@keyframes loadingFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes transformation {
  0% {
    z-index: inherit;
    margin-left: 0%;
  }
  50% {
    z-index: inherit;
    margin-left: 0%;
  }
  100% {
    z-index: 100vw;
    margin-left: -25%;
  }
}

/** POST LOADING **/
.centerSection {
  display: flex;
  flex-direction: row;
}

.seekContainer {
  width: calc((100vw / 4));
  height: calc(100vh - 28vh);
  position: relative;
}

.seekText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white;
  margin-top: calc(((100vh - 28vh) / 4) * 2);
  margin-left: 10%;
  font-family: "Chivo";
  position: absolute;
  z-index: 100vw !important;
}

.rightSection {
  width: calc((300vw / 4));
  height: calc(100vh - 28vh);
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
  opacity: 0;
  animation: rightSectionFadeIn 0.8s ease;
  animation-fill-mode: forwards;
}

.rightSection::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@keyframes rightSectionFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.centerSection {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 28vh);
}

.seekContainer {
  width: calc(100vw / 4);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seekText {
  writing-mode: vertical-rl;
  font-size: 3.3vw;
  color: white !important;
  height: 100%;
  width: 90%;
  margin-top: calc(((100vh - 28vh) / 2) + 2vh);
  font-family: "Chivo";
}

.rightSection {
  width: 75vw;
  height: calc(100vh - 28vh);
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 3vw;
  align-content: flex-start;
}

.topSection {
  width: 98%;
  padding: 0% 2% 0.5% 2%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.bottomSection {
  width: 98%;
  padding: 2% 2% 0.5% 2%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.houseImage {
  height: 30vw;
  width: 30vw;
  align-items: flex-start;
  justify-items: flex-start;
  align-self: flex-start;
  justify-self: flex-start;
}

.text {
  padding-left: 2% !important;
  height: 90%;
  width: 55vw;
  align-items: center;
  justify-items: center;
  align-self: flex-start;
  justify-self: flex-start;
}

.header {
  font-size: 3vw;
  color: black;
  height: 10%;
  width: 90%;
  font-family: "Chivo";
  text-align: justify;
}

.quote {
  font-size: 2vw;
  color: black;
  /* height: 10%; */
  width: 90%;
  font-family: "Chivo";
  text-align: justify;
}

.desc {
  font-size: 1.5vw;
  color: black;
  /* height: 10%; */
  width: 90%;
  font-family: "Chivo";
  text-align: justify;
}
