.footer {
  width:100%;
  height: 14vh;
  display: flex;
  flex-direction: row;
  align-content:flex-start;
  background-color: white;
}
.footerCompanyLogo {
  padding: 8% 8% 8% 8%;
  width: 75%;
  height: 90%;
  margin-left: 2vw;
  opacity: 0
}
